{% extends 'publicsite/layout.html' %} {% load static %}

<!--  -->
{% block titles %}Главная{% endblock %}

<!--  -->
{% block stl %} <link href="{% static 'publicsite/css/home.css' %}"
rel="stylesheet"" /> {% endblock %}

<!--  -->
{% block content %}
<div class="property">
  <h1>REYS CLOUD</h1>
  <p>
    - это что-то Студенты, направленные с 20 февраля в РЭУ на производственную
    практику, c 25 марта по 8 апреля (включительно) проходят производственную
    практику дистанционно. Выходим в Meet через курс "Производственная практика"
    Classroom по понедельникам в 12-00. В ответном письме прошу сообщить о
    прочтении, при возникновении вопросов, звоните мне 8-926-909-63-63.
  </p>
</div>
{% endblock %}
