{% extends 'publicsite/layout.html' %} {% load static %}

<!--  -->
{% block titles %}Поиск{% endblock %}

<!--  -->
{% block stl %} <link href="{% static 'publicsite/css/search.css' %}"
rel="stylesheet"" /> {% endblock %}

<!--  -->
{% block content %}
<div class="property">
  {{ error }}
  <form method="post">
    {% csrf_token %} {{ forms.app_name }}
    <button type="submit">Search</button>
  </form>

  <ul>
    {% for app in apps %}
    <a href=""
      ><li><i class="fa fa-folder"></i>{{ app }}</li></a
    >
    {% endfor %}
  </ul>
</div>
{% endblock %}
