.property img{
    width: 80px;
    float: right;
}
.property span{
    width: 120px;
    float: right;
}

.menu_profile ul{list-style: none; margin-left: 22%; width: max-content; }
.menu_profile ul a{text-decoration: none;}
.menu_profile ul li {
  cursor: pointer;
  color: #fff;
  display: block;
  margin-top: 20px;
  transition: transform .6s ease;
}

.menu_profile ul li:hover, .menu_profile ul a:hover{
  color: #eb5959;
  text-decoration: none;
  transform: scale(1.15);
}

.menu_profile h3{
  color: #fff;
}

.applications{
  color: #fff;
}